<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:与接口绑定，接口的全类名 -->
<mapper namespace="com.mezzp.mapper.EmployeeMapper">
    <select id="getAllEmps" resultMap="empResultMap">
        select *
        from ssm.employee
    </select>
    <resultMap id="empResultMap" type="employee">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
        <association property="department" select="com.mezzp.mapper.DepartmentMapper.getDepById"
                     column="dep_id"/>
    </resultMap>
    <!-- addEmp -->
    <insert id="addEmp">
        insert into ssm.employee (emp_name, gender, email, dep_id) value (#{empName}, #{gender}, #{email}, #{department.depId})
    </insert>
    <!--  delEmpById  -->
    <delete id="delEmpById">
        delete
        from ssm.employee
        where emp_id = #{empId}
    </delete>
    <!--  Employee getEmpById(Integer empId) -->
    <select id="getEmpById" resultMap="empResultMap">
        select emp_id, emp_name, gender, email, dep_id
        from ssm.employee
        where emp_id = #{id}
    </select>

    <!-- void updateEmp(Employee employee) -->
    <update id="updateEmp">
        update ssm.employee
        set emp_name=#{empName},
            gender=#{gender},
            email=#{email},
            dep_id=#{department.depId}
        where emp_id = #{empId}
    </update>
</mapper>