<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:与接口绑定，接口的全类名 -->
<mapper namespace="com.mezzp.mapper.EmployeeMapper">
    <select id="getAllEmps" resultMap="empResultMap">
        select *
        from ssm.employee
    </select>
    <resultMap id="empResultMap" type="employee">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
        <association property="department" select="com.mezzp.mapper.DepartmentMapper.getDepById"
                     column="dep_id"/>
    </resultMap>
    <!--    addEmp-->
    <insert id="addEmp">
        insert into ssm.employee (emp_name, gender, email, dep_id) value (#{empName},#{gender},#{email},#{department.depId})
    </insert>
</mapper>