<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:与接口绑定，接口的全类名 -->
<mapper namespace="com.mezzp.dao.UserMapper">
    <!-- 创建查询语句： id：与接口中的查询方法相同 resultType：查询结果类型（全类名） #{id}：获取参数值 -->
    <select id="selectUser" resultType="user">
        select *
        from haha.users0516
        where id = #{id}
    </select>
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into haha.users0516(user_name, password) value (#{userName}, #{password})
    </insert>
    <update id="updateUser">
        update haha.users0516
        set password=#{arg1}
        where id = #{arg0}
    </update>
    <delete id="deleteUser">
        delete
        from haha.users0516
        where user_name = #{n}
    </delete>
</mapper>